@import "../../../assets/scss/variables";

.character_card {
    display: flex;
  .character_image {
    width: 65%;
    height: 20rem;
    object-fit: cover;
  }

  .character_card_details {
    padding: 3rem 1rem 3rem 1rem;
    width: 35%;
    .character_title {
      font-weight: bold;
      color: $text_black;
    }

    .character_description {
      color: $text_grey;
      word-wrap: break-word;
      .read_more{
          font-weight: bold;
          color: $text_black;
      }
    }

    .character_btn {
      display: flex;
      justify-content: flex-end;
    }
  }
}
