@import "../assets//scss//variables";

.home {
  .loading_container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem
  }

  .no_data{
    text-align: center;
    padding: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .view_more_btn{
    display: flex;
    justify-content: center;
  }
}
